body { /*qndo utilizo a tag */
    
}

header {
    padding: 20px 0 0 0;
}

.titulo-principal {
    padding: 20px;
    font-size: 28px;
    font-weight: bolder;
}

.caixa-logo {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {   /*qndo utilizo o identificador */
 width: 100%;
 
}

.principal {      /*qndo utilizo a classe */
    background: #CCCCCC;
    padding: 70px ;
}


.titulo-centralizado {
    text-align: center;
    font-size: 30px ;
    font-weight: bold;
    padding: 30px;
}

p {
    text-align: center;
    font-size: 22px;
    padding: 10px;
}

#missao {
    font-size: 24px;
}

em strong {
    color: #FF0000;
}

.itens {  
    font-style: italic;
}

.benficios {
    background: #FFFFFF;
    padding: 20px;

}

.lista-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 25%;
    font-size: 18px;
    padding: 30px;
}

li {
    padding: 10px;
}

.imagembeneficios {
    width: 30%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}